
/* Welcome landing [app/components/_landing.scss] */

$img-bg-hero-landing-01-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-01-mobile.jpg';
$img-bg-hero-landing-02-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-02-mobile.jpg';
$img-bg-hero-landing-03-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-03-mobile.jpg';
$img-bg-hero-landing-04-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-04-mobile.jpg';
$img-bg-hero-landing-17-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-05-mobile.jpg';
$img-bg-hero-landing-06-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-06-mobile.jpg';
$img-bg-hero-landing-07-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-07-mobile.jpg';
$img-bg-hero-landing-08-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-08-mobile.jpg';
$img-bg-hero-landing-09-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-09-mobile.jpg';
$img-bg-hero-landing-10-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-10-mobile.jpg';
$img-bg-hero-landing-11-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-11-mobile.jpg';
$img-bg-hero-landing-12-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-12-mobile.jpg';
$img-bg-hero-landing-13-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-13-mobile.jpg';
$img-bg-hero-landing-14-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-14-mobile.jpg';
$img-bg-hero-landing-15-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-15-mobile.jpg';
$img-bg-hero-landing-16-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-16-mobile.jpg';
$img-bg-hero-landing-17-mobile:  $img-cdn-prod-url + '/common/bg-hero-landing-17-mobile.jpg';


$img-bg-hero-landing-01:         $img-cdn-prod-url + '/common/bg-hero-landing-01.jpg';
$img-bg-hero-landing-02:         $img-cdn-prod-url + '/common/bg-hero-landing-02.jpg';
$img-bg-hero-landing-03:         $img-cdn-prod-url + '/common/bg-hero-landing-03.jpg';
$img-bg-hero-landing-04:         $img-cdn-prod-url + '/common/bg-hero-landing-04.jpg';
$img-bg-hero-landing-05:         $img-cdn-prod-url + '/common/bg-hero-landing-05.jpg';
$img-bg-hero-landing-06:         $img-cdn-prod-url + '/common/bg-hero-landing-06.jpg';
$img-bg-hero-landing-07:         $img-cdn-prod-url + '/common/bg-hero-landing-07.jpg';
$img-bg-hero-landing-08:         $img-cdn-prod-url + '/common/bg-hero-landing-08.jpg';
$img-bg-hero-landing-09:         $img-cdn-prod-url + '/common/bg-hero-landing-09.jpg';
$img-bg-hero-landing-10:         $img-cdn-prod-url + '/common/bg-hero-landing-10.jpg';
$img-bg-hero-landing-11:         $img-cdn-prod-url + '/common/bg-hero-landing-11.jpg';
$img-bg-hero-landing-12:         $img-cdn-prod-url + '/common/bg-hero-landing-12.jpg';
$img-bg-hero-landing-13:         $img-cdn-prod-url + '/common/bg-hero-landing-13.jpg';
$img-bg-hero-landing-14:         $img-cdn-prod-url + '/common/bg-hero-landing-14.jpg';
$img-bg-hero-landing-15:         $img-cdn-prod-url + '/common/bg-hero-landing-15.jpg';
$img-bg-hero-landing-16:         $img-cdn-prod-url + '/common/bg-hero-landing-16.jpg';
$img-bg-hero-landing-17:         $img-cdn-prod-url + '/common/bg-hero-landing-17.jpg';
