{% trans_default_domain 'base' %}

<div class="col-xs-4">
    <h5>{{ 'base.footer.titles.contact' | trans }}</h5>
    <ul>
        <li>{{ 'base.footer.info.first_line_address' | trans }}</li>
        <li>{{ 'base.footer.info.second_line_address' | trans }}</li>
    </ul>
</div>