parameters:
    database_driver: pdo_mysql
    #database_staging: 192.168.10.32
    #database_preprod: 192.168.10.31
    database_host: ip-172-31-25-195.us-west-2.compute.internal
    database_name: qubit-web-ar
    #database_user_staging/preprod: qubit
    database_user: root
    database_password: qubit
    database_port: 3306
    #http_site_protocol_staging/preprod: http
    http_site_protocol: https
    remember_me_cookie_lifetime: 2876400
    logout_target: homepage
    assets_version: 1.25.0
    currency_decimals: 0
    #cdn_staging: https://stcloudfront.qubit.tv/assets/public/qubit/qubit-ar/staging
    #cdn_preprod: https://stcloudfront.qubit.tv/assets/public/qubit/qubit-ar/preprod
    cdn_url: https://stcloudfront.qubit.tv/assets/public/qubit/qubit-ar/prod
    #api_url_staging: http://servicesv5.qbst.com.ar/index.php/v2/json
    #api_url_preprod: http://servicesv5.preprod.qubit.tv/index.php/v2/json
    api_url: http://services.qubit.tv/index.php/v2/json
    #facebook_staging: 894540993974435
    #facebook_preprod: 1673245649618806
    facebook_app_id: 884611908321389
    google_gtm_auth: BJKX21B24XwStGLgX-Bsxg
    google_gtm_preview: env-1
    google_gtm_code: GTM-KD28T9
    #google_gtm_auth_stg-pre: RZoih2JXYnQ9X3WLjjB1dw
    #google_gtm_preview_stg-pre: env-121
    #google_gtm_code_stg-pre: GTM-KD28T9
    #memcache_staging/preprod: localhost
    memcache.default_pool.host: ip-172-31-25-195.us-west-2.compute.internal
    memcache.default_pool.port: 11211
    memcache.session_pool.host: ip-172-31-25-195.us-west-2.compute.internal
    memcache.session_pool.port: 11212
    catfish_banner_disabled_routes: [landing, login, registration, user_subscription, payment_method, user_activate_subscription]
    #loggly_token_staging/preprod: 31a73c1a-9fd4-44fb-b17d-d939a2fb6c92
    loggly_token: 63756d0d-1ca9-4738-8d5e-791891e087c0
    shaka_js_url: //players.qubit.tv/all/2.1.1/dist/shaka.vod.bundle.js
    hls_js_url: //players.qubit.tv/all/1.9.6/dist/hls.vod.bundle.js
    player_css_url: //players.qubit.tv/all/2.1.1/styles/video-js.css
    qubit_css_url: //players.qubit.tv/all/2.1.1/styles/videojs-qubit.css
    thumbnails_css_url: //players.qubit.tv/all/2.1.1/styles/videojs-thumbnails.css
    hls_js_ie: //players.qubit.tv/all/1.6.2-ie/dist/hls.vod.bundle.js
    gulp:
        cdn_url: ///stcloudfront.qubit.tv/assets/public/qubit/qubit-ar/prod
        env: prod
        type: operator
        operator: argentina
        itv: true
        owner: qubit
    vod_base.clarin_webservice_url: http://webcallws.agea.com.ar/service/gestionarTrackeosService/validarCredencial/
    #youbora_account_id_staging/preprod: qubitdev
    youbora_account_id: qubit
    #global_collect.api_key.preprod: 988f6cb459009d75
    global_collect.api_key: c41676f48d535981
    #global_collect.secret_api_key.preprod: 1vAWz6Dbn3Q81TX1P6him+x2JmBVIXH7xXmfjv8sXJs=
    global_collect.secret_api_key: vltapAi22TsacRI3Eo3+RBaOEmfmIILRtWw9C459A78=
    #global_collect.base_url.preprod: https://api-preprod.globalcollect.com
    global_collect.base_url: https://api.globalcollect.com
    #global_collect.environment.preprod: PREPROD
    global_collect.environment: PROD
    movistar.id_service_try:  116243
    movistar.id_service:      116242
    movistar.user:            qubitapi
    movistar.pass:            q41ACz_
    itv_version: 0.0.33
    itv_country: AR
    itv_player_version: 1.9.7
    itv_product: Default-AR
    itv_cdn_url: https://stcloudfront.qubit.tv/assets/public/qubit/itv-version/prod
    #itv_cdn_url: ///st.qubit.tv/assets/public/qubit/itv-version/preprod
    #itv_cdn_url: ///st.qubit.tv/assets/public/qubit/itv-version/staging
    secret: b54784587ec311fcb85175a252321e3e8fe1991c
